.side-bar {
    width: 100%;
}

.side-bar__elem {
    margin: 0 30px 2em;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    text-align: start;
}

.side-bar__link-list {
    list-style: none;
}

.side-bar__link {
    text-decoration: none;
    color: #979797;
}

.side-bar__elem:last-child {
    margin-bottom: 0;
}

.side-bar__link-todo:before {
    background: url("./icons/sprite.png") -25px 0;
}

.side-bar__link-done:before {
    background: url("./icons/sprite.png") -25px -25px;
}

.side-bar__link-done_active:before {
    background: url("./icons/sprite.png") 0 0;
}

.side-bar__link-todo_active:before {
    background: url("./icons/sprite.png") 0 -25px;
}

.side-bar__link:before {
    position: absolute;
    width: 20px;
    height: 20px;
    content: " ";
    left: -27px;
    top: 0;
}

.side-bar__link_active {
    color: #78c2f5;
    font-weight: bolder;
}