.header {
    background: linear-gradient(to right, #96EFC0, #73baff);
    font-family: Helvetica, sans-serif;
}

.header__content {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 10px 10px 2%;
}

.header__user {
    float: right;
    padding-right: 5%;
    text-decoration: none;
    color: white;
}