.plain-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.another-page {
    text-align: center;
    font-size: 13px;
    color: #626262;
    font-weight: 500;
    top: 24px;
    left: 50%;
    position: relative;
}

.link-wrapper {
    flex-basis: 5%;
    position: relative;
    margin-top: 5vh;
    flex-grow: 1;
}

.footer {
    flex-basis: 29vh;
}

.plain__logo {
    background: url('./images/logo.png') no-repeat 51.6% 73%;
    flex-basis: 23%;
    flex-grow: 1.7;
}

.plain {
    flex-basis: 71vh;
}