.task {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border: 0.25px solid rgba(0,0,0,0.1);
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 15px;
}

.task:hover {
    box-shadow: 0 1px 3px #97e3cc;
    border: 0.25px solid #97e3cc;
}

.task:hover .manipulate-button{
    visibility: visible;
}

.task:last-child {
    margin-bottom: 0;
}

.task__title {
    margin: 0;
    border: 0 none;
    font: inherit;
    caret-color: #97e3cc;
    width: 100%;
}

.button-keeper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 4%;
    flex-grow: 2;
}

.check-title-keeper {
    display: flex;
    font-size: 15px;
    font-weight: lighter;
    flex-grow: 1.5;
    flex-shrink: 5;
    flex-basis: 90%;
}
