.login-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 23%;
    margin-left: 3%;
    flex-basis: 23%;
    flex-grow: 3;
    justify-content: space-between;
}

.login-form__button {
    background: #74bbfd;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0,0,0,0.12);
    height: 40px;
    border: none;
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.login-form__button:disabled {
    background: #bdbdbd;
}

.login-form__field {
    border-bottom: 1px solid #626262;
}

.login-form__field_fail {
    border-bottom: 1px solid #fd5a6f;
    color: #fd5a6f;
}

.login-form__field, .login-form__field_fail {
    font-size: 17px;
    font-weight: 400;
    margin-top: -3px;
    width: 100%;
    margin-bottom: 20px;
}

.login-form__field::placeholder {
    color: #626262;
}

.login-form__field-label {
    font-size: 13px;
    color: #505050;
    font-weight: 500;
}

.login-form__field-label_empty {
    visibility: hidden;
}

.sign-up-link::before {
    content: "Don't have an account?";
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    color: #878787;
    font-weight: 400;
    top: -1rem;
    left: 50%;
    width: 400%;
}

.login-form__field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

.no-checkbox {
    visibility: hidden;
}